<%- include ('../partials/header') %>

    <form action="/connexion" method="POST" class="col s12" >

        <h1>Connexion</h1>

        <div class="form-group row">
            <label class="col-2 col-form-label"><b>Courriel :</b></label>
            <div class="col-10">   
                <input type = "email" placeholder="Entrer votre courriel " class="form-control" name="username" required><br>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label"><b>Mot de passe : </b></label>
            <div class="col-10">
                <input type = "password" placeholder="Entrer le mot de passe" class="form-control" name = "password" required><br>
            </div>
        </div>
        <div class="form-group row">
            
            <div class="col-10">
               <input type="submit" class="btn btn-primary btn-lg" value="Connexion">
            </div>
        </div>

        <div class="form-group row">
         <div class="col-10">
            <input type=button class="btn btn-primary btn-lg" onclick=window.location.href="/creation" value="Creation du compte"/>
         </div>





    </div>
   
        
   
    
    <%- include ('../partials/footer') %>
