<%- include ('../partials/header') %>

    <a href="/connexion" class="btn btn-lg">Connexion</a>
    <a href="/categorie" class="btn btn-lg">Categorie</a>
    <a href="/produit" class="btn btn-lg">Produit</a>
    <a href="/panier" class="btn btn-lg">Panier</a>
    <a href="/creation" class="btn btn-lg">Creation</a>

<%- include ('../partials/footer') %>