<%- include ('../partials/header') %>

<style>
    .ecart{
        margin: 5px;
        margin-top: 50px;
    }
    
    a{
        color: black;
    }

    a:hover{
        color: #000;
        text-decoration: none;
    }
</style>

<div class="container">   
    <div class="row custom-line">

        <a class="ecart" href="/categorie">
            <div class="col align-self-start img-thumbnail">
                <img width="350" height="200" src="/images/consoles/consoles.jpg"/>
                <div class="col text-center">
                    <textbox>Consoles</textbox>
                </div>
            </div>
        </a>

        <a class="ecart" href="/categorie">
            <div class="col align-self-center img-thumbnail">
                <img width="300" height="200" src="/images/ecouteurs/ecouteurs.jpg"/>
                <div class="col text-center">
                    <textbox>Ecouteurs</textbox>
                </div>
            </div>
        </a>

        <a class="ecart" href="/categorie">
            <div class="col align-self-end img-thumbnail">
                <img width="350" height="200" src="/images/frigos/frigos.jpg"/>
                <div class="col text-center">
                    <textbox>Refrigerateur</textbox>
                </div>
            </div>
        </a>
    </div>

    <div class="row custom-line">

        <a class="ecart" href="/categorie">
            <div class="col align-self-start img-thumbnail">
                <img width="350" height="200" src="/images/laptops/laptops.jpg"/>
                <div class="col text-center">
                    <textbox>Laptops</textbox>
                </div>
            </div>
        </a>

        <a class="ecart" href="/categorie">
            <div class="col align-self-center img-thumbnail">
                <img width="300" height="200" src="/images/souris/souris.jpg"/>
                <div class="col text-center">
                    <textbox>Souris</textbox>
                </div>
            </div>
        </a>

        <a class="ecart" href="/categorie">
            <div class="col align-self-end img-thumbnail">
                <img width="350" height="200" src="/images/telephones/telephones.jpg"/>
                <div class="col text-center">
                    <textbox>Telephones</textbox>
                </div>
            </div>
        </a>    

    </div>
</div>
    

<%- include ('../partials/footer') %>