/* Page qui contient le css pour toutes les pages ejs */

/* 
 css appliqué sur les tags utilisants la classe ecart, applique un écart pour les images de produit,
  présent dans la page categorie et produit
*/
.ecart {
    margin: 5px;
    margin-top: 50px;
    margin-left: 55px;
}

/* 
 css appliqué sur les tags utilisants la classe ecartIndex, applique un écart entre les différentes
 images des catégories, présent dans la page index 
*/
.ecartIndex{
    margin: 5px;
    margin-top: 50px;
}

/* css appliqué sur les tags utilisants la classe rectangle, présent dans la page categorie */
.rectangle{
    width: 450px;
    height: 375px;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;

}

/* css appliqué sur les tags utilisants la classe rectangleIndex, présent dans la page index */
.rectangleIndex{
    width: 350px;
    height: 240px;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

/* 
css appliqué sur les tags utilisant la classe textcss, cette classe baisse l'élément utilisant la classe,
présent dans la page produit  
*/
.textcss {
    margin-top: 20px;
}

/* 
css appliqué sur les tags utilisant la classe milieu, cette classe place l'élément au milieu de l'écran,
 présent dans la page categorie, connexion, index, panier et produit 
*/
.milieu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* css appliqué sur les éléments utilisant la classe topnav-centered et contient un élément a, présent dans la page navbar */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* css appliqué sur tous les tags a, présent dans la page categorie, index, produit et navbar */
a {
    color: black;
}

/* applique une couleur de background sur le hover des tags a */
a:hover {
    color: #000;
    text-decoration: none;
}

/* css appliqué sur les headers de table, présent dans la page panier et produit */
th {
    color: rgb(8, 51, 103);
}

/* css appliqué sur les données de table, présent dans la page panier et produit */
td {
    color: rgb(188, 222, 243);
}

/* css appliqué sur les tags h2, présent dans la page connexion */
h2 {
    background-color: #B0FFFF;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align:center;
    border-radius: 5px 5px 0 0;
}

/* css qui s'applique sur le container connexion, présent dans la page connexion */
div.container.connexion{
    width: 600px;
    height: 400px;
    margin:0px auto;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}
    
/* css appliqué sur la div utilisant la classe main, présent dans la page connexion */
div.main{
    width: 600px;
    padding: 10px 50px 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: raleway;
    float:left;
    margin-top:25px;
}

/* css appliqué sur les inputs de type text et password, présent dans la page connexion et creation */
input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}

/* css appliqué sur tous les labels, présent dans la page connexion, creation et produit */
label{
    color: #330000;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

/* css appliqué sur la class button1, présent dans la page connexion */
input[type=submit].button3{
    font-size: 16px;
    background: linear-gradient(#00CCCC 5%, #B0FFFF 100%);
    border: 1px solid #000000;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

/* applique une couleur de background sur le hover de la class button3 */
input[type=submit].button3:hover{
    background: linear-gradient(#00CCCC 5%, #B0FFFF 100%);
}

/* css appliqué sur la class button1, présent dans la page connexion */
input[type=button].button1{
    margin-top: 15px;
    font-size: 16px;
    background: linear-gradient(#00CCCC 5%, #B0FFFF 100%);
    border: 1px solid #000000;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

/* applique une couleur de background sur le hover de la class button1 */
input[type=button].button1:hover{
    background: linear-gradient(#00CCCC 5%, #B0FFFF 100%);
}