<!--Importer les styles et les scripts-->
<meta charset="UTF-8">
<title> Simple app </title>

<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform">
</script>
<!-- link to the local custom styles for SqPaymentForm -->
<link rel="stylesheet" href="/css/mysqpaymentform.css">
