<html>

<head>
	<title>
		<%- siteTitle %> - <%- pageTitle %>
	</title>
	<%- include ('../partials/head') %>
		<style>
			* {
				border-radius: 0px !important
			}
		</style>
	
</head>

<body>

	<script>
			
		function deconnexion(){

			window.location = "/logout";
		
			alert('Vous etes deconnectes!!');
		
			location.reload(true);
			
		}

		function connexion(){
			
			window.location = "/connexion";

			alert('Bienvenue!!!');
			
		}

		function creation(){

			alert('Compte de créer');

		}

	</script>

	<%- include ('../partials/navbar') %>