<nav class ="navbar navbar-dark bg-info">
    <a href="/" class="btn btn-lg"><img src="/images/logo.png"></a>
    <a href="/categorie" class="btn btn-lg">Categorie</a>
    <a href="https://matias.ma/nsfw/" class="btn btn-lg"><b>To Spite The Amish</b></a>
    <a href="/connexion" class="btn btn-lg">Connexion</a>
    <a href="/panier" class="btn btn-lg"><img src="/images/shopping-cart.png"></a>
</nav>	